.stepWizard {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.stepWizard .navigationBar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	max-width: 700px;
}

.stepWizard .navigationBar button {
	/* fill the container width, */
	width: 100%;
	/* but restrict to ideal width. */
	max-width: 5rem;
}

.stepWizard .stepContent {
	width: 100%;
	height: 100%;
}

.stepIndicatorBar {
	display: flex;
	flex-direction: row;
	column-gap: 0.5rem;
}

.stepIndicatorBar .step {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background-color: rgba(var(--secondaryColor), 1);
	color: rgba(var(--secondaryTextColor), 1);
}

.stepIndicatorBar .step.active {
	background-color: rgba(var(--tertiaryColor), 1);
	color: rgba(var(--tertiaryTextColor), 1);
}

.stepIndicatorBar .step.submit {
	width: 4rem;
	height: 2rem;
	border-radius: 0.3rem;
}
